
{% extends "base.html"%}
{% block content %}

<center>
    <div class="jumbotron jumbotron-fluid rounded">
        <div class="container">
            <form method="POST">

                <h3 style="color:white;">Username</h3>
                <input type="text" name="uname" id="uname">

                <br><br><br>
                <h3 style="color:white;">Password</h3>
                <br>
                <input type="password" name="passw" id="passw">

                <br><br><br>
                <input type="image"
                    src="/static/submit.png"
                    width="200"
                    height="60"
                    alt="submit"/>

            </form>
        </div>
    </div>
</center>

{% endblock %}
